@* Aqui se muestra una lista de alumnos sin apadrinamiento,
de la cual se selecciona uno y se presiona el botón Apadrinar
para añadir el apadrinamiento entre el socio y ese alumno al sistema.
Después devuelve la vista a la vista de apadrinamientos.*@
@import models.entities.Socio
@import models.entities.Alumno
@import helper._
@(socio: Socio, listAlumnos: List[Alumno])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Apadrinar</title>
    </head>
    <body>

        <h2>Socio @socio.getNombre</h2>

        <table>
            <tr>
                <td>
                    <div align="center">
                        <table border="1">
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Estado</th>
                                <th>Sexo</th>
                                <th>Foto</th>
                                <th>Fecha de nacimiento</th>
                                <th>Fecha de entrada ACOES</th>
                                <th>Fecha de alta</th>
                                <th>Fecha de salida ACOES</th>
                                <th>Grado</th>
                                <th>Colonia de procedencia</th>
                                <th>Colonia actual</th>
                                <th>Observaciones</th>
                                <th>Apadrinar</th>
                            </tr>
                            @for(a <- listAlumnos) {
                                <tr>
                                    <td>@a.getCodigo</td>
                                    <td>@a.getNombre</td>
                                    <td>@a.getApellidos</td>
                                    <td>@a.getEstado</td>
                                    <td>@a.getSexo</td>
                                    <td>@a.getFoto</td>
                                    <td>@a.getFechaNacimiento</td>
                                    <td>@a.getFechaEntradaAcoes</td>
                                    <td>@a.getFechaAlta</td>
                                    <td>@a.getFechaSalidaAcoes</td>
                                    <td>@a.getGradoCurso</td>
                                    <td>@a.getColoniaProcedencia</td>
                                    <td>@a.getColoniaActual</td>
                                    <td>@a.getObservaciones</td>
                                    <td>
                                        @*
                                        @form(action = routes.AgentController.createApadrinamiento(a.getCodigo, socio.getNumeroDeSocio)) {
                                            @helper.CSRF.formField
                                            <input type="hidden" name="socioId" value="@socio.getNumeroDeSocio" />
                                            <input type="hidden" name="alumnoId" value="@a.getCodigo">
                                            <button type="submit">Crear apadrinamiento</button>
                                        }
                                        *@
                                    }
                        </table>
                    </div>
            </tr>
        </table>
    </body>
</html>