@import models.entities.Ingreso
@import helper._
@import java.util
@import models.forms.IngresoForm
@(ingresoForm: Form[IngresoForm], proyectosNames: List[String], partidasNames: List[String])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Ingreso</title>
    </head>
    <body>
        <div align="center">
            @form(action = routes.IngresoController.createIngreso() ){
                @CSRF.formField
                @inputDate(ingresoForm("fecha"))
                @inputText(ingresoForm("concepto"))
                @inputText(ingresoForm("importe"))
                @inputText(ingresoForm("emisor"))
                @inputText(ingresoForm("observaciones"))
                @select(ingresoForm("nombrePartida"), options = options(partidasNames))
                @select(ingresoForm("nombreProyecto"), options = options(proyectosNames))
                <button type="submit">Crear ingreso</button>
            }
        </div>
    </body>
</html>