@import models.forms.ProyectoForm
@import helper._
@(proyectoForm : Form[ProyectoForm])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir proyecto</title>
    </head>
    <body>
        <div align="center">
            @form(action = routes.ProyectoController.createProyecto() ){
                @CSRF.formField
                @inputText(proyectoForm("nombre"))
                @inputText(proyectoForm("descripcion"))
                @inputText(proyectoForm("tipoProyecto"))
                @inputText(proyectoForm("regionAyuda"))
                <button type="submit">Crear proyecto</button>
            }
        </div>
    </body>
</html>