@import helper._
@import models.entities.Alumno

@(alumnoForm: Form[Alumno])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Alumno</title>
    </head>
    <body>
        @form(action = routes.AlumnoController.createAlumno() ){
            @CSRF.formField
            @inputText(alumnoForm("nombre"))
            @inputText(alumnoForm("apellidos"))
            @inputText(alumnoForm("estado"))
            @inputText(alumnoForm("sexo"))
            @inputDate(alumnoForm("fechaNacimiento"))
            @inputDate(alumnoForm("fechaEntradaAcoes"))
            @inputDate(alumnoForm("fechaAlta"))
            @inputDate(alumnoForm("fechaSalidaAcoes"))
            @inputText(alumnoForm("gradoCurso"))
            @inputText(alumnoForm("coloniaProcedencia"))
            @inputText(alumnoForm("coloniaActual"))
            @inputText(alumnoForm("observaciones"))
            Apadrinable <input type="checkbox"
            name="apadrinable"
            value="@alumnoForm("apadrinable")"><br>

            <button type="submit">Añadir alumno</button>
        }
    </body>
</html>