@import models.entities.Egreso
@import helper._
@import java.util
@(egresoForm: Form[Egreso])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Egreso</title>
    </head>
    <body>
        <div align="center">
            @form(action = routes.IngresoController.createIngreso() ){
                @CSRF.formField
                @inputDate(egresoForm("fecha"))
                @inputText(egresoForm("concepto"))
                @inputText(egresoForm("importe"))
                @inputText(egresoForm("beneficiarioAlumnos"))
                @inputText(egresoForm("beneficiarioColaboradores"))
                @inputText(egresoForm("beneficiarioTerceros"))
                @inputText(egresoForm("tipoBeneficiario"))
                @inputText(egresoForm("observaciones"))
                @inputText(egresoForm("partida"))
                @inputText(egresoForm("proyecto"))
                @inputText(egresoForm("creador"))
                @inputText(egresoForm("responsable"))
                @inputText(egresoForm("validado"))
                <button type="submit">Crear egreso</button>
            }
        </div>
    </body>
</html>