@import helper._
@import models.entities.Socio
@import models.forms.SocioForm
@(socioForm: Form[SocioForm])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Socio</title>
    </head>
    <body>
        @form(action = routes.SocioController.createSocio() ){
            @CSRF.formField
            @inputText(socioForm("nombre"))
            @inputText(socioForm("apellidos"))
            @inputText(socioForm("estado"))
            @inputText(socioForm("nif"))
            @inputText(socioForm("direccion"))
            @inputText(socioForm("poblacion"))
            @inputText(socioForm("codigoPostal"))
            @inputText(socioForm("provincia"))
            @inputText(socioForm("telefonoFijo"))
            @inputText(socioForm("telefonoMovil"))
            @inputText(socioForm("email"))
            @inputText(socioForm("relacion"))
            Certificado <input type="checkbox"
            name="@socioForm("certificado").getName"
            value="true"><br>
            @inputText(socioForm("sector"))
            @inputDate(socioForm("fechaAlta"))
            @inputDate(socioForm("fechaBaja"))
            @inputText(socioForm("observaciones"))
            @inputText(socioForm("contribucionEconomica"))
            <button type="submit">Añadir socio</button>
        }
    </body>
</html>
