@import models.entities.Usuario
@import helper._
@import java.util
@(userForm: Form[Usuario], roles: util.List[String])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Usuario</title>
    </head>
    <body>
        <div align="center">
            @form(action = routes.UserController.createUser() ){
                @CSRF.formField
                @inputText(userForm("nombre"))
                @inputText(userForm("email"))
                @select(userForm("rol"), options = options(roles))
                @inputText(userForm("contrasena"))
                <button type="submit">Crear usuario</button>
            }
        </div>
    </body>
</html>