@import models.entities.Alumno
@import helper._
@import play.data.Form
@(alumnoForm: Form[Alumno], alumnoId: Int)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modificar alumno</title>
    </head>
    <body>
        @* Global errors are not tied to any particular form field *@
        @if(alumnoForm.hasGlobalErrors) {
            @for( error <- alumnoForm.globalErrors) {
                <div>
                @error.toString
                </div>
            }
        }
        <div align="center">
            @form(action = routes.AlumnoController.editAlumno(alumnoId)) {
                @CSRF.formField
                @inputText(alumnoForm("nombre"))
                @inputText(alumnoForm("apellidos"))
                @inputText(alumnoForm("estado"))
                @inputText(alumnoForm("sexo"))
                @inputDate(alumnoForm("fechaNacimiento"))
                @inputDate(alumnoForm("fechaEntradaAcoes"))
                @inputDate(alumnoForm("fechaAlta"))
                @inputDate(alumnoForm("fechaSalidaAcoes"))
                @inputText(alumnoForm("gradoCurso"))
                @inputText(alumnoForm("coloniaProcedencia"))
                @inputText(alumnoForm("coloniaActual"))
                @inputText(alumnoForm("observaciones"))
                Apadrinable <input type="checkbox"
                name="apadrinable"
                value="@alumnoForm("apadrinable")"><br>
                <button type="submit">Editar alumno</button>
            }
    </div>
    </body>
</html>
