@import models.entities.Socio
@import helper._
@import play.data.Form
@(socioForm: Form[Socio], socioId: Int)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modificar usuario</title>
    </head>
    <body>
        @* Global errors are not tied to any particular form field *@
        @if(socioForm.hasGlobalErrors) {
            @for( error <- socioForm.globalErrors) {
                <div>
                @error.toString
                </div>
            }
        }
        <div align="center">
            Illo vaya mierda loko
            @form(action = routes.SocioController.editSocio(socioId)) {
                @CSRF.formField
                @inputText(socioForm("nombre"))
                @inputText(socioForm("apellidos"))
                @inputText(socioForm("estado"))
                @inputText(socioForm("nif"))
                @inputText(socioForm("direccion"))
                @inputText(socioForm("poblacion"))
                @inputText(socioForm("codigoPostal"))
                @inputText(socioForm("provincia"))
                @inputText(socioForm("telefonoFijo"))
                @inputText(socioForm("telefonoMovil"))
                @inputText(socioForm("email"))
                @inputText(socioForm("relacion"))
                @inputText(socioForm("certificado"))
                @inputText(socioForm("sector"))
                @inputDate(socioForm("fechaAlta"))
                @inputText(socioForm("fechaBaja"))
                @inputText(socioForm("observaciones"))
                @inputText(socioForm("respondable"))
                @inputText(socioForm("contribucionEconomica"))
                <button type="submit">Editar socio</button>
            }
    </div>
    </body>
</html>
