@*
Aqui pasamos el usuario que se va a modificar.
Dentro de cada input estan los placeholders de los datos vigentes de ese socio.
El boton guardar modifica los datos del usuario y devuelve la vista de lista de usuarios. El boton cancelar vuelve a la vista de lista de usuarios.
*@
@import helper._
@import models.entities.Usuario
@import play.data.Form

@(userForm: Form[Usuario], userId: Int, roles: List[String])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Editar usuario</title>

            <!-- Esto es lo necesario para "ejecutar" boostrap" -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/footer.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")" type="text/javascript"></script>
            <!-- Esto es lo necesario para "ejecutar" boostrap" -->
    </head>

    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                @b4.vertical.form(action = routes.SessionController.login()) { implicit vfc =>
                    @helper.CSRF.formField
                <p class="col-sm-4" align="left"> @b4.submit('class -> "btn btn-primary") { Volver atrás } </p>
                }
                </div>
                <div class="col-md-6" align="right">
                @b4.vertical.form(action = routes.UserController.editUser(userId)) { implicit vfc =>
                    @helper.CSRF.formField
                <p class="col-md-6"> @b4.submit('class -> "btn btn-secondary") { Cerrar sesión } </p>
                }
                </div>
            </div>
            @b4.vertical.form(action = routes.UserController.editUser(userId)) { implicit vfc =>
                <div class="row">
                    <div class="col-md-6">
                        @helper.CSRF.formField
                        @b4.text(userForm("nombre"), '_label -> "Nombre")
                        @b4.select(userForm("rol"), options = options(roles), '_label -> "Rol")
                    </div>
                    <div class="col-md-6">
                        @b4.text(userForm("email"), '_label -> "Email")
                        @b4.password(userForm("contrasena"), '_label -> "Contraseña")
                    </div>
                </div>
                <div align="center"> @b4.submit('class -> "btn btn-primary") { Editar usuario } </div>
            }
        </div>
    </body>
</html>