@import helper._
@import models.entities.Apadrinamiento

@(apadrinamientoList: List[Apadrinamiento])

<h1>Panel de apadrinamientos</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Apadrinado</th>
        <th>Padrino</th>
        <th>Aportación</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
    </tr>
    @for(apadrinamiento <- apadrinamientoList) {
        <tr>
            <td>@apadrinamiento.getId</td>
            <td>@apadrinamiento.getApadrinado.getNombre</td>
            <td>@apadrinamiento.getPadrino.getNombre</td>
            <td>@apadrinamiento.getAportacion</td>
            <td>@apadrinamiento.getFechaInicio</td>
            <td>@apadrinamiento.getFechaFin</td>
            <td>Editar</td>
            <td>
            @form(action = routes.ApadrinamientoController.renderEditApadrinamiento(apadrinamiento.getId)) {
                @helper.CSRF.formField
                <input type="hidden" name="apadrinamientoId" value="@apadrinamiento.getId" />
                <button type="submit">Editar apadrinamiento"</button>
            }
            </td>
        </tr>
    }
    @form(action = routes.ApadrinamientoController.renderCreateApadrinamiento()) {
        @helper.CSRF.formField
        <button type="submit">Añadir apadrinamiento</button>
    }
</table>