@import helper._
@import models.entities.RegistroEconomico

@(registroList: List[RegistroEconomico])

<h1>Registros Economicos</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Concepto</th>
        <th>Importe</th>
        <th>Codigo Beneficiario</th>
        <th>Observaciones</th>
        <th>Codigo Servicio</th>
        <th>Numero Socio</th>
        <th>Responsable Economico</th>

    </tr>
    @for(registro <- registroList) {
        <tr>
            <td>@registro.getId</td>
            <td>@registro.getFecha</td>
            <td>@registro.getTipo</td>
            <td>@registro.getConcepto</td>
            <td>@registro.getImporte</td>
            <td>@registro.getObservaciones</td>
            <td>@registro.getCodigoServicio</td>
            <td>@registro.getProyecto</td>
            <td>@registro.getNumeroSocio</td>
            <td>@registro.getResponsable</td>
        </tr>
    }
    @form(action = routes.RegistroEconomicoController.renderAddRegistro()) {
        @helper.CSRF.formField
        <button type="submit">Añadir registro economico</button>
    }
</table>