@import java.util.List
@import helper._
@import models.entities.Socio
@import java.util.List

@(listaSocios: List[Socio])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div align="center">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Estado</th>
                    <th>NIF</th>
                    <th>Dirección</th>
                    <th>Población</th>
                    <th>Codigo Postal</th>
                    <th>Provincia</th>
                    <th>Telefono Fijo</th>
                    <th>Telefono Móvil</th>
                    <th>Email</th>
                    <th>Certificado</th>
                    <th>Sector</th>
                    <th>Fecha de alta</th>
                    <th>Fecha de baja</th>
                    <th>Observaciones</th>
                    <th>Responsable</th>
                    <th>Contribucioón económica</th>
                    <th>Editar</th>
                </tr>
                @for(socio <- listaSocios) {
                    <tr>
                        <td>@socio.getNombre</td>
                        <td>@socio.getApellidos</td>
                        <td>@socio.getEstado</td>
                        <td>@socio.getNif</td>
                        <td>@socio.getDireccion</td>
                        <td>@socio.getPoblacion</td>
                        <td>@socio.getCodigoPostal</td>
                        <td>@socio.getProvincia</td>
                        <td>@socio.getTelefonoFijo</td>
                        <td>@socio.getTelefonoMovil</td>
                        <td>@socio.getEmail</td>
                        <td>@socio.isCertificado</td>
                        <td>@socio.getSector</td>
                        <td>@socio.getFechaAlta</td>
                        <td>@socio.getFechaBaja</td>
                        <td>@socio.getObservaciones</td>
                        <td>@socio.getResponsable.getNombre</td>
                        <td>@socio.getContribucionEconomica</td>
                        <td>
                        @form(action = routes.SocioController.renderEditSocio(socio.getNumeroDeSocio)) {
                            @helper.CSRF.formField
                            <input type="hidden" name="socioId" value="@socio.getNumeroDeSocio" />
                            <button type="submit">Editar socio"</button>
                        }
                        </td>
                    </tr>
                }
            </table>
            @form(action = routes.SocioController.renderCreateSocio()) {
                @helper.CSRF.formField
                <button type="submit">Añadir socio</button>
            }
        </div>
    </body>
</html>
