@import helper._
@import models.entities.Egreso

@(egresoList: List[Egreso])

<h1>Egresos</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Importe</th>
        <th>Alumno</th>
        <th>Colaborador</th>
        <th>Tercero</th>
        <th>Socio</th>
        <th>tipo de Beneficiario</th>
        <th>Observaciones</th>
        <th>Partida</th>
        <th>Proyecto</th>
        <th>Creador</th>
        <th>Validado</th>
        <th>Responsable</th>
    </tr>
    @for(egreso <- egresoList) {
        <tr>
            <td>@egreso.getId</td>
            <td>@egreso.getFecha</td>
            <td>@egreso.getConcepto</td>
            <td>@egreso.getImporte</td>
            @if(egreso.getBeneficiarioAlumno != null){
                <td>@egreso.getBeneficiarioAlumno.getNombre @egreso.getBeneficiarioAlumno.getApellidos</td>
            }
            @if(egreso.getBeneficiarioColaborador != null){
                <td>@egreso.getBeneficiarioColaborador.getNombre</td>
            }
            @if(egreso.getBeneficiarioTercero != null){
                <td>@egreso.getBeneficiarioTercero.getNombre</td>
            }
            @if(egreso.getBeneficiarioSocio != null){
                <td>@egreso.getBeneficiarioSocio.getNombre @egreso.getBeneficiarioSocio.getApellidos</td>
            }
            <td>@egreso.getTipoBeneficiario</td>
            <td>@egreso.getObservaciones</td>
            <td>@egreso.getPartida</td>
            <td>@egreso.getProyecto.getNombre</td>
            <td>@egreso.getCreador.getNombre</td>
            <td>@egreso.isValidado</td>
            <td>@egreso.getResponsable.getNombre</td>
        </tr>
    }
    @form(action = routes.EgresoController.renderCreateEgreso()) {
        @helper.CSRF.formField
        <button type="submit">Añadir egreso</button>
    }
</table>