@import helper._
@import models.entities.Proyecto

@(proyectosList: List[Proyecto])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Proyectos</title>

            <!-- Esto es lo necesario para "ejecutar" boostrap" -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/footer.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")" type="text/javascript"></script>
            <!-- Esto es lo necesario para "ejecutar" boostrap" -->
    </head>
    <body>
        <header class="p-1 mb-6">
            <div class="row">
                <div class="col-md-6">
                @b4.vertical.form(action = routes.ProyectoController.renderCreateProyecto()) { implicit vfc =>
                    @helper.CSRF.formField
                <p class="col-sm-4" align="left"> @b4.submit('class -> "btn btn-primary"){ Añadir proyecto } </p>
                }
                </div>
                <div class="col-md-6" align="right">
                @b4.vertical.form(action = routes.SessionController.index()) { implicit vfc =>
                    @helper.CSRF.formField
                <p class="col-md-6"> @b4.submit('class -> "btn btn-secondary"){ Cerrar sesión } </p>
                }
                </div>
            </div>
        </header>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de Proyecto</th>
                    <th>Región de Ayuda</th>
                </tr>
            </thead>
            @for(proyecto <- proyectosList) {
                <tr>
                    <td>@proyecto.getNombre</td>
                    <td>@proyecto.getTipoProyecto</td>
                    <td>@proyecto.getRegionAyuda</td>
                    <td>@form(action = routes.UserController.renderEditUser(proyecto.getId)) {
                        @helper.CSRF.formField
                        <input type="hidden" name="userId" value="proyectoId" />
                        <button class="btn-secondary" type="submit">Editar</button>
                    }</td>
                </tr>
            }
        </table>
    </body>
</html>
