@import models.entities.RegistroEconomico
@import controllers.RegistroEconomicoController
@import play.data.Form
@import helper._
@import models.entities.Proyecto
@(registroForm : Form[RegistroEconomico])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Usuario</title>
    </head>
    <body>
        @form(action = routes.RegistroEconomicoController.addRegistro() ){
            @CSRF.formField
            @inputDate(registroForm("Fecha"))
            @inputText(registroForm("Tipo"))
            @inputText(registroForm("Concepto"))
            @inputText(registroForm("Importe"))
            @inputText(registroForm("Codigo Beneficiario"))
            @inputText(registroForm("Observaciones"))
            @inputText(registroForm("Codigo Servicio"))
            @inputText(registroForm("Proyecto"))
            @inputText(registroForm("Numero Socio"))
            @inputText(registroForm("Responsable"))
            <button type="submit">Añadir registro economico</button>
        }
    </body>
</html>