@import models.entities.RegistroEconomico
@import controllers.RegistroEconomicoController
@import play.data.Form
@import helper._
@import models.entities.Proyecto
@(registroForm : Form[RegistroEconomico])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Introducir Usuario</title>
    </head>
    <body>
        @form(action = routes.RegistroEconomicoController.addRegistro(2) ){
            @CSRF.formField
            @inputText(registroForm("fecha"))
            @inputText(registroForm("tipo"))
            @inputText(registroForm("concepto"))
            @inputText(registroForm("importe"))
            @inputText(registroForm("codigoBeneficiario"))
            @inputText(registroForm("observaciones"))
            @inputText(registroForm("codigoServicio"))
            @inputText(registroForm("proyecto.id"))
            @inputText(registroForm("numeroSocio"))
            @inputText(registroForm("responsable"))
            <button type="submit">Añadir registro economico</button>
        }
    </body>
</html>