@*
Aqui pasamos el usuario que se va a modificar.
Dentro de cada input estan los placeholders de los datos vigentes de ese socio.
El boton guardar modifica los datos del usuario y devuelve la vista de lista de usuarios. El boton cancelar vuelve a la vista de lista de usuarios.
*@
@import models.entities.Usuario
@import play.data.Form
@import helper._
@(userId : Integer, userForm : Form[Usuario])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modificar usuario</title>
    </head>
    <body>
        <div align="center">
            @form(action = routes.UserController.editUser(userId) ){
                @CSRF.formField
                <input type="hidden" name="userId" value="@userId" />
                @inputText(userForm("nombre"))
                @inputText(userForm("email"))
                @inputPassword(userForm("contrasena"))
                @inputText(userForm("rol"))
                <button type="submit">Editar usuario</button>
            }
        </div>
    </body>
</html>