@import models.entities.Usuario
@import helper._

@(userList: List[Usuario])

<h1>Panel de administración de usuarios</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
    @for(user <- userList) {
        <tr>
            <td>@user.getId</td>
            <td>@user.getNombre</td>
            <td>@user.getEmail</td>
            <td>@user.getRol</td>
            <td>
            @form(action = routes.UserController.renderEditUser(user.getId)) {
                @helper.CSRF.formField
                <input type="hidden" name="userId" value="@user.getId" />
                <button type="submit">Editar usuario"</button>
            }
            </td>
        </tr>
    }
    @form(action = routes.UserController.addUser()) {
        @helper.CSRF.formField
        <button type="submit">Añadir usuario"</button>
    }
</table>