@import helper._
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Panel Administrador General</title>
    </head>
    <body>
        <div class="botones" align="center">
            @form(action = routes.IngresoController.listIngresos()) {
                @helper.CSRF.formField
                <button type="submit">Ingresos</button>
            }
            @form(action = routes.EgresoController.listEgresos()) {
                @helper.CSRF.formField
                <button type="submit">Egresos</button>
            }
        </div>
    </body>
</html>