@import helper._
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Panel Coordinador General</title>
    </head>
    <body>
        <div class="botones" align="center">
            @form(action = routes.AlumnoController.listAlumnos()) {
                @helper.CSRF.formField
                <button type="submit">Alumnos</button>
            }
            @form(action = routes.ProyectoController.listProyectos()) {
                @helper.CSRF.formField
                <button type="submit">Ver proyectos</button>
            }
            @form(action = routes.TipoProyectoController.listTiposProyecto()) {
                @helper.CSRF.formField
                <button type="submit">Ver tipo de proyectos</button>
            }
        </div>
    </body>
</html>